<input #searchInput placeholder="Search Term" (keyup.enter)="searchYelp(searchInput.value)">

<div>
    <input 
        #searchLyftInput placeholder="Enter your current location for Lyft" 
        (keyup.enter)="searchYelp(searchInput.value, searchLyftInput.value, true)"
    >

</div>
<div>    
    <button (click)="searchYelp(searchInput.value, searchLyftInput.value, true)">Enter </button>
    <button (click)="searchYelp(searchInput.value, searchLyftInput.value, false)">Use Current Location </button>
</div>


<div > 
    <p class="business_names" *ngFor="let business of yelpNames; let i = index" (click)="getLyftResults(yelpAddresses[i])" >
        {{ business }}
    </p>
    <p *ngFor="let estimate of lyftEstimatesData">
        {{ estimate }}
    </p>
</div>
